/* _countryCard.scss */
.country {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.flag {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
