/* styles.scss */
/* global.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* layout.scss */
.countries-container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* _countryCard.scss */
.country {
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flag {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}